table th,
table td {
  text-align: center;
  vertical-align: middle !important;
}

table tr:nth-child(even) {
  background-color: #e4e3e3;
}

.table > thead > tr > th {
  background-color: #fe9400;
  color: white;
  font-size: 1em;
}

.pagination li:hover {
  cursor: pointer;
}

.header_wrap {
  padding: 30px 0;
}
.num_rows {
  width: 20%;
  float: left;
}
.tb_search {
  width: 20%;
  float: right;
}
.pagination-container {
  width: 70%;
  float: left;
}

.rows_count {
  width: 20%;
  float: right;
  text-align: right;
  color: #999;
}

.spec-title {
  background-color: white !important;
  text-align: left;
}

.category-name h3,
.productType-name h3 {
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}

.productType-name {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.productType-name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #57af97;
  top: 0;
  left: 0;
  z-index: 1;
}

.productType-name::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 80px;
  background: white;
  top: 0;
  left: calc(100% - 30px);
  z-index: 1;
  transform: rotate(45deg);
}

.category-name {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.category-name::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background: #af4747;
  top: 0;
  left: 0;
  z-index: 1;
}

.category-name::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 80px;
  background: white;
  top: 0;
  left: calc(50% - 30px);
  z-index: 1;
  transform: rotate(45deg);
}
