<footer id="footer">
  <!-- top footer -->
  <div class="footer">
    <div class="container">
      <div class="col-md-3 footer-grid">
        <h3>Lời kết</h3>
        <p>
          Cảm ơn quý khách đã tin tưởng và sử dụng sản phẩm của chúng tôi. Hẹn
          gặp lại bạn vào lần sau!
        </p>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Danh mục nhanh</h3>
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/danh-muc/tin-tuc">Tin tức</a></li>
          <li><a href="/gioi-thieu">Giới Thiệu</a></li>
          <li><a href="/lien-he">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Dịch vụ khách hàng</h3>
        <ul>
          <li><a href="#">Mua hàng</a></li>
          <li><a href="/lien-he">Liên hệ</a></li>
          <li><a href="#">Mua hàng trực tuyến</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Tài khoản của tôi</h3>
        <ul>
          <li><a href="#">Đăng nhập</a></li>
          <li><a href="#">Đăng xuất</a></li>
          <li><a href="#">Đăng kí</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="footer-bottom">
        <div class="address">
          <div class="col-md-4 fo-grid1">
            <p>
              <a
                href="https://goo.gl/maps/XEfQfCkWTdgcyBe98"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa fa-home" aria-hidden="true"></i> Phà Cát Lái, Phú
                Hữu, Nhơn Trạch, Đồng Nai.
              </a>
            </p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <a href="tel:+84981379777">
                <i class="fa fa-phone" aria-hidden="true"></i>0981379777
              </a>

              <a href="tel:+84394432222">
                <i aria-hidden="true"> - </i>0394432222
              </a>
            </p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <a href="mailto:duckhiemsolar@gmail.com"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i
                >duckhiemsolar@gmail.com</a
              >
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="copy-right">
        <p>
          &copy; <%= new Date().getFullYear() %>. All Rights Reserved | Design
          by
          <a href="https://snmtechnology.com">SNM Technology</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /bottom footer -->
</footer>
