<footer id="footer">
  <!-- top footer -->
  <div class="footer">
    <div class="container">
      <div class="col-md-3 footer-grid">
        <h3>Lời kết</h3>
        <p>
          Cảm ơn quý khách đã tin tưởng và sử dụng sản phẩm của chúng tôi. Hẹn
          gặp lại bạn vào lần sau!
        </p>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Danh mục nhanh</h3>
        <ul>
          <li>
            <a href="/"
              ><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a
            >
          </li>
          <li>
            <a href="/tin-tuc"
              ><i class="fa fa-newspaper-o" aria-hidden="true"></i> Tin tức</a
            >
          </li>
          <li>
            <a href="/gioi-thieu"
              ><i class="fa fa-info-circle" aria-hidden="true"></i> Giới
              Thiệu</a
            >
          </li>
          <li>
            <a href="/lien-he"
              ><i class="fa fa-university" aria-hidden="true"></i> Liên Hệ</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Dịch vụ khách hàng</h3>
        <ul>
          <li>
            <a href="bang-gia"
              ><i class="fa fa-money" aria-hidden="true"></i> Bảng giá bán</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Giỏ
              hàng</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid">
        <h3>Tài khoản của tôi</h3>
        <ul>
          <li>
            <a href="#"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i> Đăng nhập</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-arrow-left" aria-hidden="true"></i> Đăng xuất</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-arrow-down" aria-hidden="true"></i> Đăng kí</a
            >
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="footer-bottom">
        <div class="address">
          <div class="col-md-4 fo-grid1">
            <p>
              <a
                href="https://goo.gl/maps/XEfQfCkWTdgcyBe98"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa fa-home" aria-hidden="true"></i> Hẻm số 6, đường Lý
                Thái Tổ, Phà Cát Lái, Phú Hữu, Nhơn Trạch, Đồng Nai.
              </a>
            </p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <a href="tel:+84888495490">
                <i class="fa fa-phone" aria-hidden="true"></i>0888495490
              </a>

              <a href="tel:+84906965524">
                <i aria-hidden="true"> - </i>0906965524
              </a>
            </p>
          </div>
          <div class="col-md-4 fo-grid1">
            <p>
              <a href="mailto:ngocquoccomputer@gmail.com"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i
                >ngocquoccomputer@gmail.com</a
              >
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="copy-right">
        <p>
          &copy; <%= new Date().getFullYear() %>. All Rights Reserved | Design
          by
          <a href="https://snmtechnology.com">SNM Technology</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /bottom footer -->
</footer>
