<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta
  property="og:title"
  content="Ngọc Quốc Computer - Tư vấn thi công lắp đặt thiết bị vi tính"
/>
<meta
  name="keywords"
  content="Ngọc Quốc Computer, mang đến nguồn cảm hứng trên từng sản phẩm. Ngọc Quốc Computer, tư vấn, thi công, lắp đặt và bảo trì máy tính, laptop, camera và các thiết bị công nghệ."
/>
<meta
  name="description"
  content="Ngọc Quốc Computer, mang đến nguồn cảm hứng trên từng sản phẩm. Ngọc Quốc Computer, tư vấn, thi công, lắp đặt và bảo trì máy tính, laptop, camera và các thiết bị công nghệ."
/>
<meta
  name="og:description"
  content="Ngọc Quốc Computer, mang đến nguồn cảm hứng trên từng sản phẩm. Ngọc Quốc Computer, tư vấn, thi công, lắp đặt và bảo trì máy tính, laptop, camera và các thiết bị công nghệ."
/>
<meta property="og:site_name" content="Ngọc Quốc Computer" />
<meta property="og:site" content="https://ngocquoccomputer.com" />
<meta property="og:image" content="/images/thumbnail.jpg" />
<meta property="og:url" content="https://ngocquoccomputer.com" />
<meta property="og:type" content="article" />
<% if (canonical) { %>
<link rel="canonical" href="<%= canonical %>" />
<% } %>
<meta name="geo.position" content="10.762622; 106.660172" />
<meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
<meta name="geo.region" content="ISO 3166-2:VN" />
<link rel="icon" href="/images/main_logo.png" />
<link rel="favicon" href="/images/main_logo.png" />
<title><%= title %></title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<!-- Custom Theme files -->
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/new.css" rel="stylesheet" type="text/css" />
<link href="/css/about.css" rel="stylesheet" type="text/css" />

<link href="/css/font-awesome.css" rel="stylesheet" />
<link
  href="//fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="//fonts.googleapis.com/css?family=Noto+Sans:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="/css/jstarbox.css"
  type="text/css"
  media="screen"
  charset="utf-8"
/>
<link href="/css/font-awesome.css" rel="stylesheet" />
<link
  href="//fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="//fonts.googleapis.com/css?family=Noto+Sans:400,700"
  rel="stylesheet"
  type="text/css"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>

<% if (this.meta && meta !== null) { %> <% const prePath =
meta.path.includes('page') ? meta.path.replace(/\page.*$/, 'page=' + (meta.page
- 1 === 0 ? 1 : meta.page - 1)) : meta.path.includes('tu-khoa')?
meta.path+'&page=' + (meta.page - 1 === 0 ? 1 : meta.page - 1):
meta.path+'?page=' + (meta.page - 1 === 0 ? 1 : meta.page - 1) %>
<link rel="prev" href="<%= prePath %>" />
<% const nextPath = meta.path.includes('page') ? meta.path.replace(/\page.*$/,
'page=' + (meta.page === (parseInt(meta.total/meta.limit) + 1) ? meta.page :
meta.page + 1)) : meta.path.includes('tu-khoa') ? meta.path+'&page=' +
(meta.page === (parseInt(meta.total/meta.limit) + 1) ? meta.page : meta.page +
1) : meta.path+'?page=' + (meta.page === (parseInt(meta.total/meta.limit) + 1) ?
meta.page : meta.page + 1) %>
<link rel="next" href="<%= nextPath %>" />
<% } %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-177794589-1"
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'UA-177794589-1')
</script>
