<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../shared/user/styles.ejs %>
  </head>

  <body>
    <!-- HEADER -->
    <% include ../shared/user/header.ejs %>
    <!-- /HEADER -->

    <!-- SECTION -->

    <div id="vide">
      <div class="container">
          <div class="banner-info">
              <div class="dump-height"></div>
          </div>
      </div>
    </div>

    <!-- <div class="banner-top">
      <div class="container">
        <h3>Giới thiệu</h3>
        <h4><a href="/">Trang chủ</a><label>/</label>Giới thiệu</h4>
        <div class="clearfix"></div>
      </div>
    </div> -->

    <div class="single">
      <div class="container">
        <div class="single-top-main">
          <div class="col-md-5 single-top">
            <div class="single-w3agile">
              <div id="picture-frame">
                <img
                  src="/images/thanhlap.jpg"
                  data-src=""
                  alt="Ngọc Quốc Computer Mục Tiêu"
                  title="Ngọc Quốc Computer Mục Tiêu"
                  class="img-responsive imagecustom1"
                />
              </div>
            </div>
          </div>
          <div class="col-md-7 single-top-left">
            <div class="single-right">
              <div class="spec">
                <h3>THÀNH LẬP</h3>
              </div>
              <p class="font-size60px">
                Ngọc Quốc Computer được thành lập dưới hình thức công ty
                trách nhiệm hữu hạn theo luật doanh nghiệp của nước Cộng hoà xã
                hội Chủ nghĩa Việt Nam.
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="single">
      <div class="container">
        <div class="single-top-main">
          <div class="col-md-5 single-top">
            <div class="single-w3agile">
              <div id="picture-frame">
                <img
                  src="/images/sumenh1.jpg"
                  data-src=""
                  alt="Ngọc Quốc Computer Mục Tiêu"
                  title="Ngọc Quốc Computer Mục Tiêu"
                  class="img-responsive imagecustom1"
                />
              </div>
            </div>
          </div>
          <div class="col-md-7 single-top-left">
            <div class="single-right">
              <div class="spec">
                <h3>SỨ MỆNH</h3>
              </div>
              <p class="font-size60px">
                Chúng tôi chuyên khảo sát, tư vấn, thi công hệ thống camera, cung cấp và sửa chữa các mặt hàng về công nghệ nhằm phục vụ cho
                các quý khách hàng quan tâm có được những sản phẩm chính hãng và
                thi công sản phẩm một cách chuyên nghiệp.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single">
      <div style="margin-bottom: 50px;" class="container">
        <div class="single-top-main">
          <div class="col-md-5 single-top">
            <div class="single-w3agile">
              <div id="picture-frame">
                <img
                  src="/images/muctieu.jpg"
                  data-src=""
                  alt="Ngọc Quốc Computer Mục Tiêu"
                  title="Ngọc Quốc Computer Mục Tiêu"
                  class="img-responsive imagecustom1"
                />
              </div>
            </div>
          </div>
          <div class="col-md-7 single-top-left">
            <div class="single-right">
              <div class="spec">
                <h3>MỤC TIÊU</h3>
              </div>
              <p class="font-size60px">
                Trở thành 1 trong những công ty cung cấp các dịch vụ, thiết bị
                về công nghệ, uy tín và chất lượng nhất nhất
                Việt Nam.
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- abcxyz -->

      <!-- abcxyz -->
    </div>

    <!-- <h3
      style="
        text-align: center;
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 30px;
      "
    >
      ĐỘI NGŨ CỦA CHÚNG TÔI
    </h3>
    <div class="container">
    <div class="row">
      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/hoaminh.jpg"
            alt="Jane"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Nguyễn Như Hoà</h2>
            <p class="title">CEO - Giám đốc điều hành</p>
            <p>duckhiemsolar@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/sonle.jpg"
            alt="Mike"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Lê Ngọc Sơn</h2>
            <p class="title">CTO - Chịu trách nhiệm kỹ thuật</p>
            <p>lengocson091092@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/nhuvang.jpg"
            alt="Mike"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Nguyễn Như Vang</h2>
            <p class="title">Kỹ thuật viên</p>
            <p>xxxx@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/tranglai.jpg"
            alt="John"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Lại Thuỳ Trang</h2>
            <p class="title">Saler - The Marketer</p>
            <p</p>
            <p>boconganh_tb8492@yahoo.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/hanglai.jpg"
            alt="John"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Lại Thị Hằng</h2>
            <p class="title">CA - Kế toán trưởng</p>
            <p</p>
            <p>xxxx@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="carddd">
          <img
            class="imagecustom"
            src="/images/users/congminh.jpg"
            alt="John"
            style="width: 100%;"
          />
          <div class="containerabout">
            <h2>Nguyễn Công Minh</h2>
            <p class="title">Kỹ thuật viên</p>
            <p>xxxx@gmail.com</p>
          </div>
        </div>
      </div>

    </div> -->
    <div style="padding: 0 1.5em;">
      <h3
        style="
          text-align: center;
          font-size: 1.8em;
          font-weight: 700;
          margin-bottom: 30px;
          margin-top: 30px;
        "
      >
        LỜI KẾT
      </h3>
      <h2 style="text-align: center; margin-bottom: 30px; font-size: 1.2em;">
        Cảm ơn bạn đã quan tâm đến công ty chúng tôi, chúng tôi luôn mong muốn
        phục vụ quý khách hàng!
      </h2>
    </div>
    </div>
    <!-- /Section -->

    <!-- FOOTER -->
    <% include ../shared/user/footer.ejs %>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <% include ../shared/user/scripts.ejs %>
    <!-- jQuery Plugins -->
  </body>
</html>
