<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../shared/user/styles.ejs %>
  </head>

  <body>
    <!-- HEADER -->
    <% include ../shared/user/header.ejs %>
    <!-- /HEADER -->

    <!-- SECTION -->
    <div class="banner-top">
        <div class="container">
            <h3 >Liên hệ</h3>
            <h4><a href="/">Trang chủ</a><label>/</label>Liên hệ</h4>
            <div class="clearfix"> </div>
        </div>
    </div>
    
    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="spec ">
                <h3>Liên hệ</h3>
                    <div class="ser-t">
                        <b></b>
                        <span><i></i></span>
                        <b class="line"></b>
                    </div>
            </div>
            <div class=" contact-w3">	
                <div class="col-md-5 contact-right">	
                    <img src="/images/cac.jpg" class="img-responsive" alt="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819" style="border:0"></iframe>
                </div>
                <div class="col-md-7 contact-left">
                    <h4>Thông tin liên hệ</h4>
                    <p> Nếu bạn quan tâm đến sản phẩm hoặc bất kì thắc mắc nào, vui lòng chọn liên hệ dưới đây chúng tôi sẽ giải đáp cho bạn.</p>
                    <ul class="contact-list">
                        <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 988/5 Bình Giã - P10 - TP Vũng Tàu</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:example@mail.com">duckhiemsolar@gmail.com</a></li>
                        <li> <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+84981379777"> 0981379777 </a></li>
                    </ul>
                    <div id="container">
                        <!--Horizontal Tab-->
                        <div id="parentHorizontalTab">
                            <ul class="resp-tabs-list hor_1">
                                <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> </span></li>
                                <li> <i class="fa fa-phone" aria-hidden="true"></i></li>
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <form action="#" method="post">
                                        <input type="text" value="Họ và tên" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                        <input type="email" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                        <textarea name="Message..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Nội dung...</textarea>
                                        <input type="submit" value="Gửi" >
                                    </form>
                                </div>
                                <div>
                                    <div class="map-grid">
                                    <h5>Địa Điểm</h5>
                                        <ul>
                                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Địa chỉ: 988/5 Bình Giã - P10 - TP Vũng Tàu.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="map-grid">
                                        <h5>Liên hệ với chúng tôi</h5>
                                        <ul>
                                            <li>Đường dây nóng: <a href="tel:+84981379777"> 0981379777</a> - <a href="tel:+84394432222">0394432222</a></li>
                                            <li>Hoặc gửi mail về: <a href="mailto:duckhiemsolar@gmail.com">duckhiemsolar@gmail.com</a> </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
    <!-- /Section -->

    <!-- FOOTER -->
    <% include ../shared/user/footer.ejs %>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <% include ../shared/user/scripts.ejs %>
    <script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>

                    <!--Plug-in Initialisation-->
                    <script type="text/javascript">
                        $(document).ready(function() {
                            //Horizontal Tab
                            $('#parentHorizontalTab').easyResponsiveTabs({
                                type: 'default', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true, // 100% fit in a container
                                tabidentify: 'hor_1', // The tab groups identifier
                                activate: function(event) { // Callback function if tab is switched
                                    var $tab = $(this);
                                    var $info = $('#nested-tabInfo');
                                    var $name = $('span', $info);
                                    $name.text($tab.text());
                                    $info.show();
                                }
                            });
        
                            // Child Tab
                            $('#ChildVerticalTab_1').easyResponsiveTabs({
                                type: 'vertical',
                                width: 'auto',
                                fit: true,
                                tabidentify: 'ver_1', // The tab groups identifier
                                activetab_bg: '#fff', // background color for active tabs in this group
                                inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
                                active_border_color: '#c1c1c1', // border color for active tabs heads in this group
                                active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
                            });
        
                            //Vertical Tab
                            $('#parentVerticalTab').easyResponsiveTabs({
                                type: 'vertical', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true, // 100% fit in a container
                                closed: 'accordion', // Start closed if in accordion view
                                tabidentify: 'hor_1', // The tab groups identifier
                                activate: function(event) { // Callback function if tab is switched
                                    var $tab = $(this);
                                    var $info = $('#nested-tabInfo2');
                                    var $name = $('span', $info);
                                    $name.text($tab.text());
                                    $info.show();
                                }
                            });
                        });
                    </script>
                        
  </body>
</html>
