<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../shared/user/styles.ejs %>
  </head>
  <body>
    <!-- HEADER -->
    <% include ../shared/user/header.ejs %>
    <!-- /HEADER -->
    <div id="vide">
      <div class="container">
        <div class="banner-info">
          <div class="dump-height"></div>
        </div>
      </div>
    </div>
    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row"></div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- FOOTER -->
    <% include ../shared/user/footer.ejs %>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <% include ../shared/user/scripts.ejs %>
  </body>
</html>
